.right{
    margin-left: auto;
}
body{
    padding: 10px;
}
.main{
    background-color:white;
   
    width: 50%;
    padding-right: 100px;
}
.first{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}
.input{
    outline: none;
    border: 1px solid #ccc;
    margin-bottom: 5px;
    border-color: rgb(216, 193, 193);
    border-radius: 5px;
    font-size: 16px;
    padding: 5px;
    width: 60% !important;
    border: solid;
}
.but{
    background-color: rgb(65, 136, 216);
    border-radius: 5px;
    outline: none;
    border-color: transparent;
    width: 100px;
    font-size: 18px;
    margin-top: 5px;
    margin-right: 10px;
    color: white;
    cursor: pointer;
}
.but2{
    background-color: rgb(65, 148, 216);
    border-radius: 5px;
    outline: none;
    border-color: transparent;
    width: 100px;
    font-size: 18px;
    margin-top: 5px;
    margin-right: 10px;
    color: #ffffff;
    cursor: pointer;
}
.error{
    color: red;
}
.sub{
color: green;
}
.button{
    display: flex;
    flex-direction: row;
    justify-content: start;
}
.error{
    color: red;
}
.log{
   
    text-align: right;
    margin-top: 10px;
}

.dark-offcanvas {
    background-color: #333; 
    color: #fff; 
    margin-right: 15px;
    width: 100px;
  }
  
  .dropdown{
    text-align: left;
    margin-left: auto;
  }
  .offcan{
    margin-bottom: 5px;
    list-style: none;
    margin: 10px;
    color: #ffffff;
  }
  a{

margin-bottom: 30px;
list-style: none;
color: white;
font-size: 25px;
text-decoration: none;

  }
 li{
    margin-bottom: 20px;
    padding: 5px;
    font-size: 5px;
 }
.home{
    margin-top: 5px;
}
.boo{
    font-size: 18px;
}
.hambericon{
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 30px;
}
.icon{
    font-size: 50px;
    height: 30px;
}
/* .image{
    height: 300px;
    width: 300px;
    border: solid;
    margin: auto;
} */
/* .s-product{
    border: solid;
    width: 350px;
    min-height: 400px;
    margin: 5px;
    border-width: 1px;
    border-color: #ccc;
    padding: 15px;
} */
.block{
    min-height: 100vh;
    background-color: rgb(213, 221, 221);
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}
/* In your CSS file or style section */
/* .block{
    min-height: 100vh;
    background-color: rgb(213, 221, 221);
} */
.s-product {
    border: 1px solid #ddd;
    padding: 20px;
    margin: 10px;
    background-color: #fff;
    text-align: center;
  }
  .s-product2 {
    border: 1px solid #c2bdbd;
    padding: 20px;
    margin: 10px;
   margin-top: 5px;
    text-align: center;
    margin: auto;
  }
  .image {
    max-width: 100%;
    height: 180px;
    margin-bottom: 10px;
  }
  .image2 {
    max-width: 50%;
    height: auto;
    margin-bottom: 10px;
  }
  h3 {
    font-size: 1.2em;
    margin-bottom: 10px;
  }
  
  p {
    margin: 5px 0;
  }
  
  .price {
    color: #e44d26;
    font-weight: bold;
    font-size: 1.2em;
  }
  .added{
    color: green;
    margin-top: 15px;
    

  }
  .product-item{
    display: flex;
    flex-direction: row;
    justify-content: start;
  }
  .product-info{
   
    
    margin: auto;
  }
  .removed{
    color: red;
  }